<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:c="http://java.sun.com/jsp/jstl/core">
    <h:head>
        <title>The Game Of Life</title>
        <style type="text/css">
            h2 {
                color: orange;
                font-family: sans-serif;
            }

            .intro {
                font-family: sans-serif;
                background: rgb(200, 200, 200);
                border: 1pt rgb(150, 150, 150) solid;
                padding: 8px;
                margin: 4px;
                text-align: justify;
                color: rgb(25, 25, 25)
            }

            .footer {
                color: black;
                font-size: small;
                text-align: right;
                background-color: silver;
                margin-top: 100px;
                border-top: thin solid black;
                padding: 2px;
                font-family: sans-serif;
            }

            .action-button {
                border-bottom: 2px solid rgb(100, 100, 100);
                border-left: 2px solid rgb(100, 100, 100);
                border-top: 2px solid rgb(150, 150, 150);
                border-right: 2px solid rgb(150, 150, 150);
                background: silver;
                width: 100px;
                margin: 8px;
                padding: 4px;
                text-align: center;
            }

            a {
                text-decoration: none;
                font-size: large;
                font-weight: bold;
                font-family: sans-serif;
            }

            li {
                list-style: circle;
                padding: 4px;
            }

            .breadcrumbs {
                font-family: sans-serif;
                color: blue;
            }

            #grid {
                border: 1px solid grey;
                padding: 4px;
                margin: 16px;
                margin-left: 4px;
                font-family: sans-serif;
                background-color: rgb(255, 255, 225);

            }

            .griddisplay {
            }

        </style>
    </h:head>
    <h:body>
        <h2>The Game!</h2>
        <div class="breadcrumbs">
            <h:link value=" > New Game" outcome="/home" />
        </div>
        <div class="intro">Please seed your universe</div>
        <div class="griddisplay">
            <h:form>
                <input type="hidden" name="rows" value="3"/>
                <input type="hidden" name="columns" value="3"/>
                <table id="grid">
                    <c:forEach begin="0" var="row" end="2">
                        <tr>
                            <c:forEach begin="0" var="column" end="2">
                                <td><input name="cell_${row}_${column}" type="checkbox"/></td>
                            </c:forEach>
                        </tr>
                    </c:forEach>
                </table>
                <p/>
                <h:commandButton value="Go" type="submit" action="#{gameBean.firstGeneration()}"/>
            </h:form>
        </div>
        <div class="footer">Game Of Life version <h:outputText value="#{gameBean.appVersion}" />
        </div>
    </h:body>
</html>

