<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:c="http://java.sun.com/jsp/jstl/core">
    <h:head>
        <title>The Game Of Life</title>
        <style type="text/css">
            h2 {
                color: blue;
                font-family: sans-serif;
            }

            .intro {
                font-family: sans-serif;
                background: rgb(200, 200, 200);
                border: 1pt rgb(150, 150, 150) solid;
                padding: 8px;
                text-align: justify;
                color: rgb(25, 25, 25);
                margin: 4px;
            }

            .footer {
                color: blue; //test5
                font-size: small;
                text-align: right;
                background-color: silver;
                margin-top: 100px;
                border-top: thin solid black;
                padding: 2px;
                font-family: sans-serif;
            }

            .action-button {
                border-bottom: 2px solid rgb(100, 100, 100);
                border-left: 2px solid rgb(100, 100, 100);
                border-top: 2px solid rgb(150, 150, 150);
                border-right: 2px solid rgb(150, 150, 150);
                background: silver;
                width: 100px;
                margin: 8px;
                padding: 4px;
                text-align: center;
            }

            a {
                text-decoration: none;
                font-size: large;
                font-weight: bold;
                font-family: sans-serif;
            }

            li {
                list-style: circle;
                padding: 4px;
            }

            .breadcrumbs {
                font-family: sans-serif;
                color: blue;
            }

            h4 {
                font-family: sans-serif;

            }

            #grid {
                border: 1px solid grey;
                padding: 4px;
                margin: 16px;
                margin-left: 4px;
                font-family: sans-serif;
                background-color: rgb(255, 255, 225);
            }

            .griddisplay {
            }

        </style>
    </h:head>
    <h:body>
        <h2>The Game!</h2>
        <div class="breadcrumbs">
            <h:link value="home" outcome="/home" /> > Game in Progress
        </div>
        <div class="intro">Press 'Next Generation' to see how this universe evolves...</div>
        <div class="griddisplay">
           <h:form>
                <input type="hidden" name="rows" value="${gameBean.rows}"/>
                <input type="hidden" name="columns" value="${gameBean.columns}"/>
                <table id="grid">
                    <c:forEach begin="0" var="row" end="${gameBean.rows - 1}">
                        <tr>
                            <c:forEach begin="0" var="column" end="${gameBean.columns - 1}">
                                <td>
                                    <c:if test="${gameBean.universe.cells[row][column].symbol == '*'}">
                                        <input type="hidden" name="cell_${row}_${column}" value="on"/>
                                    </c:if>
                                    &nbsp;${gameBean.universe.cells[row][column].symbol}&nbsp;</td>
                            </c:forEach>
                        </tr>
                    </c:forEach>
                </table>
                <p></p>
                <h:commandButton value="Next Generation" action="#{gameBean.nextGeneration()}"/>
           </h:form>
        </div>
        <div class="footer">Game Of Life version <h:outputText value="#{gameBean.appVersion}" />
        </div>
    </h:body>
</html>

